.burger{
	position: relative;
	z-index: 5;
	width: 30px;
	height: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&__line{
		position: absolute;
		width: 30px;
		height: 1px;
		opacity: 1;
		transition: all 1s;
	}
	&__line1{
		width: 20px;
		top: 5px;
	}
	&__line2{
		transition: all .5s;
		top: 15px;
	}
	&__line3{
		top: 25px;
	}
	&__cross{
		height: 30px;
		position: relative;
		.burger__line1{
			top: 15px;
			width: 30px;
			transform: rotate(45deg);
		}
		.burger__line2{
			opacity: 0;
		}
		.burger__line3{
			top: 15px;
			width: 30px;
			transform: rotate(-45deg);
		}
	}
}

.button{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 170px;
	height: 50px;
	color: #fff;
	font-size: 16px;
	border: 2px solid #21DB7E;
	box-shadow: 0px 0px 15px #21DB7E;
}

.form-close{
	position: absolute;
	left: 24px;
	top: 24px;
	width: 30px;
	height: 30px;
	&::before,
	&::after{
		content: '';
		position: absolute;
		width: 30px;
		height: 1px;
		top: 50%;
		left: 0;
		transform: rotate(45deg);
		background-color: #fff;
	}
	&::after{
		transform: rotate(-45deg);
	}
}

.lang-btn{
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	left: 0;
	width: 22px;
	height: 22px;
	background-color: #545454;
	box-shadow: 0px 0px 2px #fff, inset 0px 0px 2px .5px #000;
	border-radius: 50%;
	&__eng{
		position: absolute;
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
		color: #fff;
		font-size: 10px;
		opacity: 1;
		transition: all .75s;
		padding: 10px;
		display: block;
	}
	&__ru{
		position: absolute;
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
		opacity: 0;
		color: #fff;
		font-size: 0;
		transition: all .75s;
	}
	&_active{
		.lang-btn__eng{
			opacity: 0;
			font-size: 0;
		}
		.lang-btn__ru{
			font-size: 10px;
			opacity: 1;
			
		}
	}
}

.theme-btn{
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	right: 0;
	width: 52px;
	height: 22px;
	background-color: #545454;
	border-radius: 11px;
	box-shadow: 0px 0px 2px #fff, inset 0px 0px 2px .5px #000;
	&__switcher{
		position: absolute;
		transform: translate(-50%, -50%) rotate(360deg);
		top: 50%;
		left: calc(0% + 11px);
		display: block;
		width: 20px;
		height: 20px;
		transition: all 0.5s;
		// background-image: url('../images/bg-circle-blur.svg');
		background-color: rgba(255, 255, 255, 0.308);
		border-radius: 50%;
		&::before{
			content: "";
			position: absolute;
			z-index: -2;
			transform: translate(-50%, -50%) rotate(100deg);
			// background-color: #F6E32F;
			top: 50%;
			left: 50%;
			width: 17px;
			height: 17px;
			border-radius: 50%;
			box-shadow: inset 4px 2px 0 0 transparent;
			transition: all .5s;
			background-image: url('../images/sun-switcher.svg');
			background-position: center center;
			background-size: 80%;
			background-repeat: no-repeat;
		}
	}
	&__active{
		.theme-btn__switcher{
			left: calc(100% - 11px);
			top: 50%;
			transform: translate(-50%, -50%) rotate(360deg);
			&::before{
				position: absolute;
				transform: translate(-50%, -50%) rotate(300deg);
				background-color: transparent;
				top: 50%;
				right: 0;
				width: 12px;
				height: 12px;
				border-radius: 50%;
				box-shadow: inset 4px 2px 0 0 #000;
				transition: all .5s;
				background-size: 0%;
				background-position: top left;
			}
		}
	}

}


.skill {
	position: relative;
	background: rgba(24, 24, 24, 0.1);
	backdrop-filter: blur(3px);
	transition: all .5s;
	width: 100%;
	height: 100%;
	&__wrapper{
		border-bottom: 1px solid #21DB7E;
		margin-bottom: 50px;
		padding-bottom: 50px;
	}
	&__container {
		transition: all .5s;
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: 33.33% 33.33% 33.33%;
		
		grid-gap: 15px;
		width: 320px;
		margin: 0 auto;
		height: 490px;
		position: relative;
		background-image: url('../images/skills-bgsvg.svg');
		background-size: 80%;
		background-position: center center;
		background-repeat: no-repeat;
		&_cwars{
			grid-template-columns: 0% 100%;
			grid-template-rows: 0% 100% 0%;
		}
	}
	
	&__front {
		transition: all .5s;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 50%;
		border:4px solid #21DB7E
		// width: 0;
	}
	&__scss,
	&__gulp,
	&__git,
	&__cwars,
	&__js,
	&__node{
		transition: all .5s;
		height: 100%;
		width: 100%;
	}
	&__scss{
		background-image: url('../images/scss.svg');
		left: 0;
	}

	&__gulp{
		background-image: url('../images/gulp.svg');
		background-size: 25%;

	}
	&__git{
		background-image: url('../images/git.svg');
	}
	&__cwars{
		background-image: url('../images/cwars.svg');
	}
	&__cwars-wrapper_active{
		width: 300px;
		height: 450px;
	}
	&__js{
		background-image: url('../images/js.svg');
	}
	&__node{
		background-image: url('../images/node.svg');
	}


	// 	&__side {
	// 	position: absolute;
	// 	z-index: 3;
	// 	background-color: #21DB7E;
	// 	width: 100%;
	// 	height: 5px;
	// 	transition: all 0.8s;
	// 	box-shadow: 0px 0px 0px 0px #21DB7E;
	// }
	// &__tside {
	// 	top: 0;
	// }
	// &__rside {
	// 	top: 0;
	// 	right: 0px;
	// 	height: 100%;
	// 	width: 5px;
	// 	left: 100%;
	// }
	// &__bside {
	// 	bottom: 0px;
	// 	left: 0;
	// }
	// &__lside {
	// 	top: 0;
	// 	height: 100%;
	// 	width: 5px;
	// 	left: 0px;
	// }
}



// .tile {
// 	position: relative;
// 	width: calc(50vw - 35px);
// 	max-width: 220px;
// 	max-height: 220px;
// 	height: calc(50vw - 35px);
// 	margin-bottom: 25px;
// 	box-shadow: inset 0px 0px 15px 5px #101010;
// 	transition: all 0.5s;

// 	&__border{
// 		width: 100%;
// 		height: 100%;
// 		position: relative;
// 		overflow: hidden;
// 	}
// 	&__text{
// 		position: absolute;
// 		z-index: 1;
// 		width: 100%;
// 		transition: all 0.8s;
// 		padding: 20px 0px 0 20px;
// 		user-select: none;
// 	}
// 	&__img {
// 		position: relative;
// 		background-color: #181818;
// 		box-shadow: inset 0px 0px 15px 5px #101010;
// 		z-index: 2;
// 		width: 100%;
// 		height: 100%;
// 		background-size: 50%;
// 		background-position: center center;
// 		background-repeat: no-repeat;
// 		transition: all 0.8s;
// 	}
// 	&__side {
// 		position: absolute;
// 		z-index: 3;
// 		background-color: #21DB7E;
// 		width: calc(100% + 5px);
// 		height: 5px;
// 		transition: all 0.8s;
// 		box-shadow: 0px 0px 0px 0px #21DB7E;
// 	}
// 	&__tside {
// 		top: 0;
// 	}
// 	&__rside {
// 		top: 0;
// 		right: -5px;
// 		height: calc(100% + 5px);
// 		width: 5px;
// 		left: 100%;
// 	}
// 	&__bside {
// 		bottom: -5px;
// 		left: 0;
// 	}
// 	&__lside {
// 		top: 0;
// 		height: calc(100% + 5px);
// 		width: 5px;
// 		left: -5px;
// 	}
// 	&:hover{
// 		.tile__bside,
// 		.tile__rside,
// 		.tile__tside,
// 		.tile__lside{
// 			opacity: 0;
// 		}
// 	}
// 	&__html{
// 		// .tile__tside,
// 		// .tile__lside{
// 		// 	display: none;
// 		// }
// 		.tile__img{
// 			left: 0;
// 			background-image: url('../images/html.svg');
// 		}
// 		&:hover{
// 			.tile__img{
// 				left: -100%;
// 			}
// 			.tile__bside{
// 				width: 100%;
// 			}
// 			.tile__rside{
// 				left: -5px;
// 			}
// 		}
// 	}
// 	&__scss{
// 		.tile__tside,
// 		.tile__rside{
// 			display: none;
// 		}
// 		.tile__img{
// 			right: 0;
// 			background-image: url('../images/scss.svg');
// 		}
// 		.tile__bside{
// 			left: -5px;
// 		}
// 		.tile__img{
// 			right: 0;
// 		}
// 		&:hover{
// 			.tile__img{
// 				right: -100%;
// 			}
// 			.tile__lside{
// 				left: 100%;
// 			}
// 			.tile__bside{
// 				left: 0px;
// 				width: 100%;
// 			}
// 		}
// 	}
// 	&__git{
// 		.tile__lside{
// 			display: none;
// 		}
// 		.tile__rside{
// 			height: 100%;
// 		}
// 		.tile__tside{
// 			left: 0;
// 		}
// 		.tile__img{
// 			left: 0;
// 			background-image: url('../images/git.svg');
// 		}
// 		&:hover{
// 			.tile__img{
// 				left: -100%;
// 			}
// 			.tile__tside{
// 				width: calc(100% + 5px);
// 				left: -5px;
// 			}
// 			.tile__bside{
// 				width: calc(100% + 5px);
// 				left: -5px;
// 			}
// 			.tile__rside{
// 				left: -5px;
// 			}
// 		}
// 	}
// 	&__gulp{
// 		.tile__rside{
// 			display: none;
// 		}
// 		.tile__tside{
// 			width: 100%;
// 		}
// 		.tile__bside{
// 			width: 100%;
// 		}
// 		.tile__img{
// 			right: 0;
// 			background-size: 25%;
// 			background-image: url('../images/gulp.svg');
// 		}
// 		&:hover{
// 			.tile__img{
// 				right: -100%;
// 			}
// 			.tile__lside{
// 				left: 100%;
// 			}
// 			.tile__bside{
// 				left: 0px;
// 				width: 100%;
// 			}
// 		}
// 	}
// 	&__js{
// 		.tile__bside,
// 		.tile__lside{
// 			display: none;
// 		}
// 		.tile__rside{
// 			height: 100%;
// 		}
// 		.tile__img{
// 			left: 0;
// 			background-image: url('../images/js.svg');
// 		}
// 		&:hover{
// 			.tile__img{
// 				left: -100%;
// 			}
// 			.tile__tside{
// 				width: 100%;
// 			}
// 			.tile__rside{
// 				left: -5px;
// 			}
// 		}
// 	}
// 	&__node{
// 		.tile__bside,
// 		.tile__rside{
// 			display: none;
// 		}
// 		.tile__lside{
// 			height: 100%;
// 		}
// 		.tile__tside{
// 			width: 100%;
// 		}
// 		.tile__img{
// 			right: 0;
// 			background-image: url('../images/node.svg');
// 		}
// 		&:hover{
// 			.tile__img{
// 				right: -100%;
// 			}
// 			.tile__lside{
// 				left: 100%;
// 			}
// 			.tile__bside{
// 				left: 0px;
// 				width: 100%;
// 			}
// 		}
// 	}
// }