.burger{
	position: relative;
	z-index: 5;
	width: 30px;
	height: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&__line{
		position: absolute;
		width: 30px;
		height: 1px;
		opacity: 1;
		transition: all 1s;
	}
	&__line1{
		width: 20px;
		top: 5px;
	}
	&__line2{
		transition: all .5s;
		top: 15px;
	}
	&__line3{
		top: 25px;
	}
	&__cross{
		height: 30px;
		position: relative;
		.burger__line1{
			top: 15px;
			width: 30px;
			transform: rotate(45deg);
		}
		.burger__line2{
			opacity: 0;
		}
		.burger__line3{
			top: 15px;
			width: 30px;
			transform: rotate(-45deg);
		}
	}
}

.button{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 170px;
	height: 50px;
	color: #fff;
	font-size: 16px;
	border: 2px solid #21DB7E;
	box-shadow: 0px 0px 15px #21DB7E;
	background-color: #181818;
	transition: all .5s;
}

.form-close{
	position: absolute;
	left: 24px;
	top: 24px;
	width: 30px;
	height: 30px;
	&::before,
	&::after{
		content: '';
		position: absolute;
		width: 30px;
		height: 1px;
		top: 50%;
		left: 0;
		transform: rotate(45deg);
		background-color: #fff;
	}
	&::after{
		transform: rotate(-45deg);
	}
}

.lang-btn{
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	left: 0;
	width: 22px;
	height: 22px;
	background-color: #545454;
	box-shadow: 0px 0px 2px #fff, inset 0px 0px 2px .5px #000;
	border-radius: 50%;
	&__eng{
		position: absolute;
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
		color: #fff;
		font-size: 10px;
		opacity: 1;
		transition: all .75s;
		padding: 10px;
		display: block;
	}
	&__ru{
		position: absolute;
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
		opacity: 0;
		color: #fff;
		font-size: 0;
		transition: all .75s;
	}
	&_active{
		.lang-btn__eng{
			opacity: 0;
			font-size: 0;
		}
		.lang-btn__ru{
			font-size: 10px;
			opacity: 1;
			
		}
	}
}

.theme-btn{
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	right: 0;
	width: 52px;
	height: 22px;
	background-color: #545454;
	border-radius: 11px;
	box-shadow: 0px 0px 2px #fff, inset 0px 0px 2px .5px #000;
	&__switcher{
		position: absolute;
		transform: translate(-50%, -50%) rotate(360deg);
		top: 50%;
		left: calc(0% + 11px);
		display: block;
		width: 20px;
		height: 20px;
		transition: all 0.5s;
		// background-image: url('../images/bg-circle-blur.svg');
		background-color: rgba(255, 255, 255, 0.308);
		border-radius: 50%;
		&::before{
			content: "";
			position: absolute;
			z-index: -2;
			transform: translate(-50%, -50%) rotate(0deg);
			// background-color: #F6E32F;
			top: 50%;
			left: 50%;
			width: 17px;
			height: 17px;
			border-radius: 50%;
			box-shadow: inset 4px 2px 0 0 transparent;
			transition: all .5s;
			background-image: url('../images/sun-switcher.svg');
			background-position: center center;
			background-size: 80%;
			background-repeat: no-repeat;
		}
	}
	&__active{
		.theme-btn__switcher{
			left: calc(100% - 11px);
			top: 50%;
			transform: translate(-50%, -50%) rotate(360deg);
			&::before{
				position: absolute;
				transform: translate(-50%, -50%) rotate(200deg);
				background-color: transparent;
				top: 50%;
				right: 0;
				width: 12px;
				height: 12px;
				border-radius: 50%;
				box-shadow: inset 4px 2px 0 0 #000;
				transition: all .5s;
				background-size: 0%;
				background-position: top left;
			}
		}
	}

}



