html{
	scroll-behavior: smooth;
	::-webkit-scrollbar{
		display: none;
	}
}
body{
	font-family: 'Russo One', sans-serif;
	transition: all 0.5s;
	user-select: none;
}
section{
	padding: 0 20px;
	margin-bottom: 50px;
	border-bottom: 1px solid #21DB7E;
}
button{
	font-size: 14px;
}
h2{
	font-size: 24px;
	text-align: center;
	margin-bottom: 50px;
}
.header{
	position: fixed;
	top: 0;
	z-index: 3;
	width: 100%;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
	transition: all .5s;
	box-shadow: 0px 4px 20px rgba(15, 14, 14, 0.9);
	background-color: #181818ea;
}
.menu{
	position:fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all .5s;
	transform: translateY(-100vh);
	&__active{
		transform: translateY(0vh);
	}
	&__list{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
	&__list-item{
		margin-bottom: 30px;
	}
	&__list-link{
		font-size: 32px;
	}
	&__list-link--resume{
		margin-top: 70px;
	}
	.form__both-prev,
	.form__both-next{
		&::after{

			display: none;
		}
	}
}
.form{
	width: 330px;
	&__wrapper{
		padding: 0 20px;
		transform: translateY(-110vh);
		transition: all 0.75s;
		overflow:scroll;
		position: fixed;
		z-index: 9;
		top: 0;
		left: 0;
		width: 100vw;
		height: 500px;
		min-height: 100vh;
		background-color: #181818;
		display: flex;
		justify-content: center;
	}
	&__both{
		transform: translateX(-110vw);
		&_active{
			transform: translateX(0vw);
		}
		.form__name,
		.form__address,
		.form__phone,
		.form__text{
			width: 306px;
		}
		.form__list{
			width: 325px;
		}
	}
	&__marks-wrapper{
		margin: 0 auto 20px;
		display: flex;
		justify-content: space-between;
	}
	&__mark-popup{
		transform: translateX(100vw);
		display: flex;
		justify-content: start;
		flex-direction: column;
		align-items: center;
		&_active{
			transform: translateX(0vw);
		}
	}
	&__votes{
		width: 250px;
		margin: 0 auto 30px;
		text-align: center;
	}
	&__title{
		margin: 80px auto 20px;
		text-align: center;
		font-size: 28-px;
	}
	&__subtitle{
		font-family: 'M1 PLUS 1';
		width: 250px;
		margin: 0 auto;
		margin-bottom: 35px;
		text-align: center;
	}
	&__name,
	&__address,
	&__phone{
		display: block;
		width: 100%;
		max-width: 330px;
		height: 45px;
		min-height: 40px;
		border: 2px solid #21DB7E;
		padding-left: 20px;
		margin-bottom: 20px;
		caret-color: #fff;
		color: #fff;
		font-family: 'Russo One', sans-serif;
	}
	&__phone::-webkit-outer-spin-button,
	&__phone::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	&__list{
		display: flex;
		justify-content: space-between;
		width: 100%;
		max-width: 330px;
		margin-bottom: 15px;
	}
	&__list-item{
		width: 40px;
		height: 40px;
	}
	&__list-btn{
		display: block;
		width: 100%;
		height: 100%;
		border: 2px solid #21DB7E;
		color: #181818;
		margin: 0;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 75%;
	}
	&__list-btn--telegram{
		background-image: url('../images/telegram.svg');
	}
	&__list-btn--twitter{
		background-image: url('../images/twitter.svg');
	}
	&__list-btn--facebook{
		background-image: url('../images/facebook.svg');
	}
	&__list-btn--instagram{
		background-image: url('../images/instagram.svg');
	}
	&__list-btn--email{
		background-image: url('../images/email.svg');
	}
	&__list-btn--viber,
	&__list-btn--whatsapp{
		background-image: url('../images/viber.svg');
	}
	&__descr{
		max-width: 330px;
		font-family: 'M1 PLUS 1';
		margin-bottom: 40px;
	}
	&__submit{
		display: block;
		width: 170px;
		min-height: 50px;
		color: #fff;
		line-height: 19px;
		text-align: center;
		border: 2px solid #21DB7E;
		margin: 0 auto 70px;
	}
	&__text{
		width: 100%;
		max-width: 330px;
		min-height: 100px;
		border: 2px solid #21DB7E;
		padding-left: 20px;
		margin-bottom: 22px;
		padding-top: 10px;
		caret-color: #fff;
		color: #fff;
		font-family: 'Russo One', sans-serif;
	}
	&__both-slider{
		width: 330px;
	}
	&__both-buttons{
		display: flex;
		width: 200px;
		margin: 0 auto 20px;
		justify-content: space-between;
		user-select: none;
		&_none{
			display: none;
		}
	}
	&__both-prev,
	&__both-next{
		position: relative;
		cursor: pointer;
		&::after{
			content: '';
			position: absolute;
			bottom: -10px;
			transform: translateX(-50%);
			left: 50%;
			width: 0%;
			height: 2px;
			background-color: #21bd7e;
			transition: all .5s;
		}
	}
	&__both-disabled{
		position: relative;
		&::after{
			width: 100%;
		}
	}
}
.gratitude{
	position:fixed;
	z-index: 9;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #181818;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateX(100vw);
	transition: all .5s;
	&_active{
		transform: translateX(0%);
	}
	&__data{
		color: #21DB7E;
	}
}

.intro{
	height: 100vh;
	padding-left: 20px;
	&__text{
		padding-top: 200px;
		color: #fff;
		margin-bottom: 5px;
	}
	&__name{
		font-size: 32px;
		color: #21DB7E;
		margin-bottom: 20px;
	}
	&__descr{
		font-family: 'M PLUS 1p', sans-serif;
		width: 285px;
		margin-bottom: 50px;
	}
}
.intro-btn {
	position: relative;
	z-index: 1;
	width: 170px;
	height: 100px;
	&__button {
		width: 170px;
		height: 50px;
		border: 2px solid #21DB7E;
		color: #fff;
		border: 2px solid #21DB7E;
		box-shadow: 0px 0px 15px #21DB7E;
	}
}
.portfolio{
	position: relative;
	padding-bottom: 50px;
	&__slider{
		position: relative;
		margin: 0 auto 30px;
		width: 230px;
		height: 400px;
	}
	&__navigation{
		position: absolute;
		right: -25px;
		top: 50%;
		transform: translateY(-50%);
		width: 50px;
		height: 50px;
		background-color: #181818;
		z-index: 2;
		border-radius: 50%;
		border: 1px solid #fff;
		box-shadow: 0px 0px 5px #fff;
	}
	&__case-nav{
		position: absolute;
		width: 50px;
		height: 50px;
		top: calc(50% - 25px);
		right: -25px;
		
	}
	&__case-rotate{
		width: 90%;
		position: absolute;
		animation: portfolio__case-rotate 3s linear infinite both;
	}
	&__bullets{
		position: static;
		width: 150px !important;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
	}
	&__bullet{
		display: block;
		width: 14px;
		height: 14px;
		border-radius: 50%;
		background-color: #fff;
		transition: all 0.5s;
	}
	&__bullet-active{
		box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.438);
		background-color: #ffffff;
	}
	&__slider{
		height: 400px;
		width: 230px;
		box-shadow: 0px 0px 5px #fff;
		border: 1px solid #fff;
	}
	&__slide{
		width: 230px;
		height: 400px;
		background-size: cover;
	}
	.portfolio__nav-disabled{
		z-index: -1;
	}
}
.case-one,
.case-two,
.case-three{
	width: 100%;
	height: 100%;
	&__slide-1{
		border-right: 1px solid #fff;
		position: relative;
		height: 408px;
	}
	&__slide-2{
		position: relative;
		
		height: 408px;
		width: 100%;
		background-color: #181818;
	}
	&__slide-2--text{
		font-family: 'M PLUS 1p', sans-serif;
		width: 200px;
		margin: 15px auto 0;
		margin-bottom: 30px;
	}
	&__slide-2--button{
		margin: 0 auto;
	}
	&__prev,
	&__next{
		position: absolute;
		z-index: 9;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #fff;
		color: #000;
		bottom: 0;
		opacity: 1;
		transition: all .5s;
		border-radius: 50%;
		border: 1px solid #181818;
	}
	&__prev{
		position: absolute;
		background-repeat: no-repeat;
		background-size: 90%;
		background-position: center center;
		
	}
}
.skills {
	position: relative;
	width: 320px;
	height: 490px;
	display: grid;
	transition: all 1.25s;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 15px;
	background-image: url('../images/skills-bgsvg.svg');
	background-size: 80%;
	background-position: center center;
	background-repeat: no-repeat;
	&__wrapper{
		margin-bottom: 50px;
		padding-bottom: 50px;
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	&__active{
		transition: all 0s;
		grid-gap: 10px;
		.skills__item{
			background: rgba(24, 24, 24, 0.8);
		}
		.skills__svg{
			display: none;
		}
	}
	&__scss{
		grid-template-columns: 1fr 0px;
		grid-template-rows: 1fr 0px 0px;
		.skills__svg-scss{
			display: block;
		}
	}
	&__gulp{
		grid-template-columns: 0px 1fr;
		grid-template-rows: 1fr 0px 0px;
		.skills__svg-gulp{
			display: block;
		}
	}
	&__git{
		grid-template-columns: 1fr 0px;
		grid-template-rows: 0px 1fr 0px;
		.skills__svg-git{
			display: block;
		}
	}
	&__codewars{
		grid-template-columns: 0px 1fr;
		grid-template-rows: 0px 1fr 0px;
		.skills__svg-codewars{
			display: block;
		}
	}
	&__js{
		grid-template-columns: 1fr 0px;
		grid-template-rows: 0px 0px 1fr;
		.skills__svg-js{
			display: block;
		}
	}
	&__node{
		grid-template-columns: 0px 1fr;
		grid-template-rows: 0px 0px 1fr;
		.skills__svg-node{
			display: block;
		}
	}
	&__item {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background: rgba(24, 24, 24, 0.1);
		backdrop-filter: blur(3px);
		transition: all .0s;
		width: 100%;
		height: 100%;
		&:nth-child(1){
			border-right: 4px solid #21DB7E;
			border-bottom: 4px solid #21DB7E;
		}
		&:nth-child(2){
			border-left: 4px solid #21DB7E;
			border-bottom: 4px solid #21DB7E;
		}
		&:nth-child(3){
			border-right: 4px solid #21DB7E;
			border-top: 4px solid #21DB7E;
			border-bottom: 4px solid #21DB7E;
			// transition: all 0s;

		}
		&:nth-child(4){
			border-left: 4px solid #21DB7E;
			border-top: 4px solid #21DB7E;
			border-bottom: 4px solid #21DB7E;
			// transition: all 0s;
		}
		&:nth-child(5){
			border-right: 4px solid #21DB7E;
			border-top: 4px solid #21DB7E;
		}
		&:nth-child(6){
			border-left: 4px solid #21DB7E;
			border-top: 4px solid #21DB7E;
		}
		
	}
	&__scss,
	&__gulp,
	&__js,
	&__node{
		.skills__item:nth-child(3),
		.skills__item:nth-child(4){
			border-top: none;
		}
	}

	&__buttons{
		width: 100%;
		display: flex;
		justify-content: space-between;
		.button{
			margin: 0;
		}
	}
	&__link{
		border: 0px solid #21DB7E;
		font-size: 0;
		opacity: 0;
		transition: all 0s;
		font-family: 'Russo One', sans-serif;
	}
	&__link-right{
		right: 0;
	}
	&__item-content{
		padding: 10px 20px 0 20px;
		overflow: hidden;
		font-family: 'M1 PLUS 1';
		width: 0;
		height: 0;
	}
	&__paragraph{
		padding-top: -50px;
		transition: all 1s;
		opacity: 0;
		margin-bottom: 20px;
	}
	&__svg{
		fill: #21DB7E;
		display: block;
		transition: all 1s;

	}

	&__item_active{
		align-items: center;
		justify-content: start;
		transition: all .5s;
		transition: all 1s;
		padding-top: 10px;
		.skills__svg{
			transform: scale(.7);
		}
		.skills__paragraph{
			transition: all 1s;
			opacity: 1;
			margin: 20px 0;
			padding-top: 0px;
		}
		.skills__designate{
			margin-bottom: 20px;
		}
		.skills__link{
			width: calc(127px);
			border: 2px solid #21DB7E;
			font-size: 12px;
			opacity: 1;
			// transition: all 1s;
		}
		.skills__item-content{
			padding: 0px 20px 0 20px;
			overflow: hidden;
			font-family: 'M1 PLUS 1';
			width: 100%;
			height: calc(100% - 92px);
		}
	}
	&__path{
		transition: all 1.25s;
	}
	&__scss-path,
	&__svg-scss{
		width: 67px;
		height: 57px;
	}

	&__gulp-path,
	&__svg-gulp{
		width: 37px;
		height: 93px;
	}
	&__js-path,
	&__git-path,
	&__svg-codewars,
	&__svg-js,
	&__svg-git{
		width: 60px;
		height: 60px;
	}
	&__node-path,
	&__svg-node{
		width: 58px;
		height: 64px;
	}

}
.feedback {
	margin-bottom: 0;
	&__descr {
		width: 286px;
		margin: 0 auto;
		font-weight: 500;
		text-align: center;
		font-family: 'M PLUS 1p', sans-serif;
	}
	&__buttons {
		position: relative;
		margin: 0 auto;
		height: 220px;
		width: 290px;
	}
	&__btn {
		position: absolute;
		top: 50%;
		transform: translate(0%, -50%);
		width: 80px;
		height: 80px;
		color: #fff;
		border: 2px solid #21DB7E;
		box-shadow: 0px 0px 10px #21DB7E;
		transition: all 0.5s;
		background-color: #181818;
	}
	&__form {
		left: 0%;
		transition-delay: 1s;
	}
	&__form_active{
		transition-delay: 0.5s;
		left: calc(50% - 40px);
		
	}
	&__btn-contacts{
		left: calc(50% - 40px);
		// z-index: 2;
	}
	&__contacts{
		position: absolute;
		top: 50%;
		left: calc(50% - 40px);
		transform: translate(0%, -50%);
		width: 80px;
		height: 80px;
		background-color: #fff;
		z-index: 2;
	}

	&__contacts-link{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		display: block;
		width: 32px;
		height: 32px;
		border: 2px solid #21DB7E;
		z-index: 3;
		background-color: #181818;
		transition: all 0.5s;
		opacity: 1;
		// height: 1px;
		background-image: url('../images/telegram.svg');
		background-position: center center;
		background-size: 60%;
		background-repeat: no-repeat;
	}
	&__contacts-line{
		position: absolute;
		z-index: -2;
		top: 0%;
		width: 100%;
		height: 2px;
		background-color: #21DB7E;
		transition: all 0.5s;
		opacity: 0;
	}
	&__contacts-line_active{
		transition-delay: 1s;
		width: calc(100% + 100px);
		opacity: 1;
		&:nth-child(3),
		&:nth-child(6){
			width: calc(100% + 70px);
		}
	}
	&__contacts-lline{
		right: 0;
		.feedback__contacts-link{
			left: 0;
		}
	}
	&__contacts-rline{
		left: 0;
		.feedback__contacts-link{
			right: 0;
		}
	}
	&__contacts-line2,
	&__contacts-line5{
		top: 50%;
		transform: translateY(-50%);
		// width: calc(100% + 60px);
	}
	&__contacts-line3,
	&__contacts-line6{
		top: calc(100% - 2px);
	}

	&__mark {
		right: 0%;
		transition-delay: 1s;
	}
	&__mark_active{
		transition-delay: .25s;
		z-index: -1;
		right: calc(50% - 40px);
	}
}
.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 100%;
	box-shadow: 0px 4px 20px rgb(15 14 14 / 90%);
	&__copyrights {
		font-family: 'M PLUS 1p', sans-serif;
	}
}

