html{
	scroll-behavior: smooth;
	::-webkit-scrollbar{
		display: none;
	}
}
body{
	font-family: 'Russo One', sans-serif;
	transition: all 0.75s;
}
section{
	padding: 0 20px;
	margin-bottom: 100px;
}
h2{
	font-size: 24px;
	color: #fff;
	text-align: center;
	margin-bottom: 50px;
}
.header{
	position: fixed;
	top: 0;
	z-index: 3;
	width: 100%;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
}

.header-buttons{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90px;
	height: 122px;
}

.menu{
	position:fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #181818;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all .5s;
	transform: translateY(-100vh);
	&__active{
		transform: translateY(0vh);
	}
	&__list{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
	&__list-item{
		margin-bottom: 30px;
	}
	&__list-link{
		font-size: 32px;
	}
	&__list-link--resume{
		margin-top: 70px;
	}
}

.form{
	position: fixed;
	z-index: 9;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: scroll;
	background-color: #181818;
	text-align: center;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	transform: translateY(-100vh);
	transition: all 0.75s;
	&__customer{
		&_active{
			transform: translateY(0vh);
		}
	}
	&__employer{
		&_active{
			transform: translateY(0vh);
		}
	}
	&__title{
		margin-top: 80px;
		font-size: 24px;
		margin-bottom: 20px;
	}
	&__subtitle{
		font-size: 15px;
		line-height: 20px;
		font-family: 'M1 PLUS 1';
		width: 250px;
		margin: 0 auto;
		margin-bottom: 35px;
	}
	&__name,
	&__address,
	&__phone{
		display: block;
		width: 100%;
		max-width: 330px;
		height: 45px;
		min-height: 40px;
		border: 2px solid #21DB7E;
		padding-left: 20px;
		margin-bottom: 20px;
		caret-color: #fff;
		color: #fff;
		font-size: 14px;
		
		font-family: 'M1 PLUS 1';
		font-family: 'Russo One', sans-serif;
		&::-webkit-input-placeholder {
		}
	}
	&__phone::-webkit-outer-spin-button,
	&__phone::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	&__list{
		display: flex;
		justify-content: space-between;
		width: 100%;
		max-width: 330px;
		margin-bottom: 15px;

	}
	&__list-item{
		width: 40px;
		height: 40px;
	}
	&__list-btn{
		display: block;
		width: 100%;
		height: 100%;
		border: 2px solid #21DB7E;
		color: #181818;
		margin: 0;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 75%;
	}
	&__list-btn--telegram{
		background-image: url('../images/telegram.svg');
	}
	&__list-btn--twitter{
		background-image: url('../images/twitter.svg');
	}
	&__list-btn--facebook{
		background-image: url('../images/facebook.svg');
	}
	&__list-btn--instagram{
		background-image: url('../images/instagram.svg');
	}
	&__list-btn--email{
		background-image: url('../images/email.svg');
	}
	&__list-btn--viber,
	&__list-btn--whatsapp{
		background-image: url('../images/viber.svg');
	}
	&__descr{
		max-width: 330px;
		font-family: 'M1 PLUS 1';
		margin-bottom: 40px;
	}
	&__submit{
		display: block;
		width: 170px;
		min-height: 50px;
		color: #fff;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
		border: 2px solid #21DB7E;
		margin-bottom: 70px;
	}
	&__text{
		width: 100%;
		max-width: 330px;
		min-height: 100px;
		border: 2px solid #21DB7E;
		padding-left: 20px;
		margin-bottom: 22px;
		padding-top: 10px;
		caret-color: #fff;
		color: #fff;
		font-size: 14px;
		font-family: 'Russo One', sans-serif;
	}
}
.intro{
	height: 100vh;
	padding-left: 20px;
	border-bottom: 1px solid #21DB7E;
	&__text{
		padding-top: 200px;
		color: #fff;
		font-size: 16px;
		margin-bottom: 5px;
	}
	&__name{
		font-size: 32px;
		color: #21DB7E;
		margin-bottom: 20px;
	}
	&__descr{
		font-family: 'M PLUS 1p', sans-serif;
		width: 285px;
		margin-bottom: 50px;
	}
}
.intro-btn {
	position: relative;
	z-index: 1;
	width: 170px;
	height: 100px;
	&__button {
		
		width: 170px;
		height: 50px;
		border: 2px solid #21DB7E;
		font-size: 16px;
		color: #fff;
		border: 2px solid #21DB7E;
		box-shadow: 0px 0px 15px #21DB7E;
	}
}
.slider{
	position: relative;
	margin: 0 auto;
	display: flex;
	width: 280px;
}
.portfolio{
	position: relative;
	border-bottom: 1px solid #21DB7E;
	padding-bottom: 50px;
	&__bullets{
		position: absolute;
		left: calc(100% - 10px) !important;
		top: 50%;
		transform: translateY(-50%);
		width: 50px !important;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__bullet{
		display: block;
		margin-bottom: 30px;
		width: 14px;
		height: 14px;
		border-radius: 50%;
		background-color: #fff;
		transition: all 0.5s;
		cursor: pointer;
		
	}
	&__bullet-active{
		box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.438);
		background-color: #ffffff;
	}
	&__slider{
		height: 400px;
		width: 230px;
		border: 1px solid #fff;
	}
	&__slide{
		width: 230px;
		height: 400px;
		background-size: cover;
	}

}

.case-one,
.case-two,
.case-three{
	width: 100%;
	height: 100%;
	&__wrapper{
	}
	&__slide-1{
		position: relative;
		height: 408px;
	}
	&__slide-2{
		position: relative;
		
		height: 408px;
		width: 100%;
		background-color: #181818;
		// padding: 15px;
	}
	&__slide-2--text{
		font-family: 'M PLUS 1p', sans-serif;
		width: 200px;
		margin: 15px auto 0;
		// text-align: center;
		margin-bottom: 30px;
	}
	&__slide-2--button{
		margin: 0 auto;
	}
	&__prev,
	&__next{
		position: absolute;
		z-index: 1;
		width: 100px;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #fff;
		color: #000;
		bottom: 0;
		opacity: 1;
		transition: all .5s;
	}
	&__prev{

	}
	&__next{
		right: 0;
	}
}

.swiper-button-disabled{
	opacity: 0;
}
.feedback {
	&__descr {
		width: 286px;
		margin: 0 auto;
		font-size: 20px;
		font-weight: 500;
		text-align: center;
		font-family: 'M PLUS 1p', sans-serif;
	}
	&__buttons {
		position: relative;
		margin: 0 auto;
		height: 220px;
		width: 290px;
	}
	&__btn {
		position: absolute;
		top: 50%;
		transform: translate(0%, -50%);
		width: 80px;
		height: 80px;
		color: #fff;
		font-size: 14px;
		border: 2px solid #21DB7E;
		box-shadow: 0px 0px 10px #21DB7E;
		transition: all 0.5s;
		background-color: #181818;
	}
	&__form {
		left: 0%;
	}
	&__form_active{
		transition-delay: 0.5s;
		left: calc(50% - 40px);
	}
	&__btn-contacts{
		left: calc(50% - 40px);
		// z-index: 2;
	}
	&__contacts{
		position: absolute;
		top: 50%;
		left: calc(50% - 40px);
		transform: translate(0%, -50%);
		width: 80px;
		height: 80px;
		background-color: #fff;
		z-index: 2;

	}
	&__contacts-link{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		display: block;
		width: 32px;
		height: 32px;
		border: 2px solid #21DB7E;
		z-index: 3;
		background-color: #181818;
		transition: all 0.5s;
		opacity: 1;
		// height: 1px;
		background-image: url('../images/telegram.svg');
		background-position: center center;
		background-size: 60%;
		background-repeat: no-repeat;
	}
	&__contacts-line{
		position: absolute;
		z-index: -2;
		top: 0%;
		width: 100%;
		height: 2px;
		background-color: #21DB7E;
		transition: all 0.5s;
		opacity: 0;
		transition-delay: 1s;
	}
	&__contacts-line_active{
		width: calc(100% + 100px);
		opacity: 1;
		&:nth-child(3),
		&:nth-child(6){
			width: calc(100% + 70px);
		}
	}
	&__contacts-lline{
		right: 0;
		.feedback__contacts-link{
			left: 0;
		}
	}
	&__contacts-rline{
		left: 0;
		.feedback__contacts-link{
			right: 0;
		}
	}
	&__contacts-line2{
		top: 50%;
		transform: translateY(-50%);
		// width: calc(100% + 60px);
	}
	&__contacts-line3{
		top: calc(100% - 2px);
	}
	&__mark {
		right: 0%;
	}
	&__mark_active{
		transition-delay: .25s;
		z-index: -1;
		right: calc(50% - 40px);
	}
}
.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 100%;
	box-shadow: 0px 4px 20px rgb(15 14 14 / 90%);
	&__copyrights {
		font-family: 'M PLUS 1p', sans-serif;
		font-size: 16px;
	}
}

