.theme{
	
	&__dark{
		color: #fff;
		background-color: #181818;
		.header{
			
			&__title{
				color: #fff;
			}
		}
		.menu{
			background-color: #181818;
			&__list-link{
				color: #fff;
			}
		}
		.burger{
			&__line{
				background-color: #fff;
			}
		}
	}
	&__light{
		background-color: #fff;
		color: #181818;
		section{
			border-bottom: 1px solid #181818;
		}
		.header{
			box-shadow: 0px 4px 20px rgba(230, 220, 220, 0.9);
			background-color: #ffffffea;
			&__title{
				color: #181818;
			}
		}
		.form-close{
			&::before,
			&::after{
				background-color: #181818;
			}
		}
		.burger{
			&__line{
				background-color: #181818;
			}
		}
		.menu{
			background-color: #fff;
			&__list-link{
				color: #181818;
			}
		}
		.form{
			&__wrapper{
				background-color: #fff;
			}
			&__name,
			&__address,
			&__phone,
			&__text{
				border: 2px solid #181818;
			}
		}
		.theme-btn,
		.lang-btn{
			box-shadow: 0px 0px 2px #181818, inset 0px 0px 1px .5px #fff;
		}
		.button{
			color: #21DB7E;
			border: 2px solid #181818;
			box-shadow: 0px 0px 0px #21DB7E;
		}
		.intro{
			&__text{
				color: #181818;
			}
		}
		.intro-btn__button{
			color: #fff;
		}
		.portfolio{
			&__slider{
				box-shadow: 0px 0px 2px #181818;
				border: 1px solid #181818;
			}
			&__bullet{
				background-color: #181818;
				transition: all 0.5s;
			}
			&__bullet-active{
				box-shadow: 0px 0px 0px 5px rgba(32, 32, 32, 0.438);
				background-color: #181818;
			}
		}
		.skill{
			background: rgba(255, 255, 255, 0.1);
			&__svg{
				fill: #000;
			}
			&__content {
				border: 4px solid #000;
			}
			&__scss{
				border-top: none;
				border-left: none;
				
			}
			&__gulp{
				border-top: none;
				border-right: none;
			}
			&__git{
				border-left: none;
			}
			&__cwars{
				border-right: none;
			}
			
			&__js{
				border-left: none;
				border-bottom: none;
			}
			&__node{
				border-right: none;
				border-bottom: none;
			}
		}
		.feedback {
			&__btn {
				border: 2px solid #181818;
				box-shadow: 0px 0px 0px #181818;
			}
		}
	}
}